// Styles applied to the whole site

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: $font-size-html;
}

.btn {
  background: $white;
  border: 2px solid $white;
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: .5em 1em;
  transition: all .3s ease;

  &:hover,
  &.active {
    background: $white;
    color: $black;
    box-shadow: 4px 4px 10px #aaa;
  }
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.page {
  background: $page;
  box-shadow: 0 0 62px $black-trans-60;
  margin: auto;
  max-width: $content-max-width;
  min-height: 100vh;
  width: 85%;
  
  .page-content {
    display: none;
    
    &.active {
      display: block;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.view {
  background: $page-1;
  min-height: 100vh;
  @include transition();
  width: 100%;
  
  &[data-page="home"] {
    background: $page-1;
  }
  
  &[data-page="story"] {
    background: $page-2;
  }
  
  &[data-page="books"] {
    background: $page-3;
  }
  
  &[data-page="connect"] {
    background: $page-4;
  }
}