// Styles applied to the whole site

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: $font-size-html;
}

.alert {
  background: $success-light;
  padding: .5em;
  position: fixed;
  bottom: -5em;
  left: 0;
  text-align: center;
  @include transition();
  width: 100vw;
  
  .alert-description {
    color: $success-dark;
  }
  
  .alert-title {
    color: $success-dark;
    font-weight: bold;
  }
  
  &.active {
    bottom: 0;
  }
}

.btn {
  background: $page-3-dark;
  border: none;
  border-radius: 8px;
  bottom: 0;
  box-shadow: 2px 2px 8px #aaa;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  padding: .5em 1em;
  position: relative;
  transition: all .3s ease;

  &:hover,
  &.active {
    box-shadow: 4px 4px 10px #aaa;
    bottom: 2px;
  }
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.page {
  background: $page;
  box-shadow: 0 0 62px $black-trans-60;
  margin: auto;
  max-width: $content-max-width;
  min-height: 100vh;
  width: 90%;
  
  .page-content {
    display: none;
    
    &.active {
      display: block;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.view {
  background: $page-1;
  min-height: 100vh;
  position: relative;
  @include transition();
  width: 100%;
  
  &[data-page="home"] {
    background: $page-1;
  }
  
  &[data-page="story"] {
    background: $page-2;
  }
  
  &[data-page="books"] {
    background: $page-3;
  }
  
  &[data-page="connect"] {
    background: $page-4;
  }
}