a {
  text-decoration: none;
}

a,
li,
p {
  font-size: $font-size-p;
}

a,
h1,
h2,
h3,
li,
p {
  color: $text;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

html {
  font-family: 'Antic Slab', serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.antic-slab {
  font-family: 'Antic Slab', serif;
}

.bold {
  font-weight: bold;
}

.large-text {
  font-size: 1.6em;
}

.marck-script {
  font-family: 'Marck Script', cursive;
}

.text-light {
  color: $text-light;
}